h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    padding-bottom: 50px;
    gap: 20px;
}
.lives{
    font-size: 20px;
    position: relative;
    
}