.keyboarContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 0 auto;
}
.keyboar {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    width: 100px;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
}
.btn {
    font-size: 20px;
    padding: 10px 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: blue;
    background-color: bisque;
}
.btn:hover {
    background-color: aqua;
}

.key {
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}

.key:hover {
    background-color: #d0d0d0;
}
